<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Hello <%= employee.first_name %>!  </h1>
    <p class="secret-text">Your details are as follows.</p>
    <ul>
        <li>Employee Id: <%= employee.employee_id %> </li>
        <li>Employee Name: <%= employee.first_name %> <%= employee.last_name %>  </li>
        <li>Employee date of birth: <%= employee.date_of_birth %> </li>
        <li>Employee Contact Number: <%= employee.contact_number %> </li>
        <!-- <li>Employee Monthly Salary: <%= employee.monthly_salary%> </li>
        <li>Employee Yearly bonus: <%= employee.yearly_bonus %> </li>
        <li>Employee Yearly Salary: <%= employee.monthly_salary*12%> </li> -->
    </ul>
    <hr>
    
    <form action = "/salary" method="GET">
        <label for="employee_id">Employee Id</label>
        <input type="text" class="form-control" name="employee_id">
        <button class="btn btn-dark btn-lg" type="submit" class="btn btn-dark">Get Salary Details </button>
    </form>


    <form action = "/updateSalary" method="GET">
        
        <button class="btn btn-dark btn-lg" type="submit" class="btn btn-dark">Update Salary Details </button>
    </form>
  </div>

  <div>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<script>

</script>

